#section1{
   width: 25%;
   height: 100%; 
   margin: 2%;  
}
#section2{
   width: 75%;
   height: 100%;
   margin: 2%;
   margin-left: 50%;
}
#sec{
   display: inline-flex;
}
#carte{
   width: 100%;
}
#miniteur{
   color: white;
   font-size: 500%;
   width: 500px;      
   height: 500px;     
   background-color: black;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}


@media only screen and (max-width: 600px) {
   #section1{
      width: 60%;
      height: 100%; 
      margin: 2%;  
   }
   #sec{
      flex-direction: column;
   }
   #section2{
      width: 60%;
      height: 100%; 
      margin: 2%; 
   }
   #miniteur{
      color: white;
      font-size: 500%;
      width: 350px;      
      height: 350px;     
      background-color: black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
